## .NET
bin/
obj/
*.user
*.suo
*.cache
*.cacheitems
*.userosscache
*.sln.docstates
*.userprefs

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/*/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Visual Studio
.vs/

## OS
Thumbs.db
.DS_Store
